* { margin: 0; padding: 0;}
html,body{
    height: 100%;
}
li {
    list-style-type: none;
}
a { text-decoration: none;}
.bx-wrapper{
    border: none;
}
.header_contanier{
    width: 100%; height: 80px;
    position: fixed;
    background: #fff;
 z-index: 9999;
}
#main_header {
    margin: 0 auto;
    position: relative;
    width: 1440px;
    height: 80px;
    z-index: 99999;
     background: #fff;
    /*background: #ccc;*/
    /*border: 1px solid red;*/
}
#main_header > h1{
    position: absolute;
    text-align: center;
    left: 0;
    line-height: 80px;
}
#main_header > h1 a {
    color: #1f65d5;
    text-transform: uppercase;
    font-size: 35px;  
   
}

#main_header > button {
    width: 120px;
    height: 80px;
    float: right;
    position: relative;
    background: #000;
}
#main_header > button a {
    color: #fff;
}
#main_visual {
    width:100%;
    position: relative;
    height: 100vh;
}
#main_visual .main_visual div{
    position: relative;
    width: 100%;
    /* height: 100vh; */
}
#main_visual .main_visual div:nth-child(1){
  background-image: url("../images/main.png");
  background-size: cover;
  overflow: hidden;
  
   height: 100vh;
}
#main_visual .main_visual div:nth-child(2){
    
  background-image: url("../images/main2.png");
  background-size: cover;
  overflow: hidden;
   
   height: 100vh;
}
#main_visual .main_visual div:nth-child(3){
  
  background-image: url("../images/main3.png");
  background-size: cover;
  overflow: hidden;

   height: 100vh;
}
#main_visual .main_visual div:nth-child(4){
    
  background-image: url("../images/main4.png");
  background-size: cover;
  overflow: hidden;
  
   height: 100vh;
}


#main_visual h1{
    color: white;
    position: absolute;
    text-align: center;
   bottom: 50px;
    left: 43%;
    font-size: 80px;
    text-transform: uppercase;
    color: #fff;
   
}


#main_gnb {
    position: absolute;
    left: 550px; top: 35px;
    z-index: 9999;
    /*border: 1px solid red;*/
}
#main_gnb > .depth1 > li {
    width: 125px;
    line-height: 20px;
    /* background: #666; */
    text-align: center;
    float: left;
    margin-left: 0px;
    /* outline: 1px solid red; */
}
#main_gnb > .depth1 > li a {
    color: #333;
    text-transform: uppercase;
    display: block;
}
#main_gnb > .depth1 > li > .depth2 {
    background: rgba(51, 51, 51, 0.8);
    margin-top: 25px;
}
#main_gnb > .depth1 > li > .depth2 > li {
    display: block;
}
#main_gnb > .depth1 > li > .depth2 > li a {
    color: #fff;
    font-size: 14px;
    padding-bottom: 20px;
}
.depth2 > li:first-child a {   
    padding-top: 20px;
}
#main_gnb > .depth1 > li > .depth2 > li:hover a {
    color: #1f65d5;
}

#second_nav{
    position: relative;
    width:1440px;
    height: 50px;
    top: 50px;
    margin: 0 auto;


}
.second_nav{
    position: relative;
    font-family:'Hobo BT',sans-serif ; 
    background:#f3eeeefa;

   
}
.second_nav h1{
    float: left;
    position: relative;
    padding-right: 120px;
    font-size: 50px;
    font-family: '한컴 쿨재즈 B',serif;
    padding-left: 100px;
    padding-top: 20px;
    
}
#second_nav .second_nav ul{
    float: left;
   
}
#second_nav .second_nav ul li{
    display: inline-block;
    margin-left: 50px;
    font-size: 20px;
    padding-top: 25px;
    color: #000;
    position: relative;
    font-family: '나눔스퀘어라운드',sans-serif;
    font-weight: bold;
}
#second_nav .second_nav ul li:hover{
    color: rgb(172, 145, 145);
}

#second_visual{
    margin: 0 auto;
    width: 1440px;
    height: 800px;
    background: #f3eeeefa;
    
}

#second_visual .box1{ 
    width: 600px;
    height: 400px;
   
    float: left;
    position: relative;
    left: -400px;
    top: 200px;
    

}
#second_visual .box2{
    width: 600px;
    height: 400px;
    background: white;
    float: right;
    position: relative;
    left: -200px;
    top: -110px;  
   
}
.box2 h2{
    font-family: '한컴 쿨재즈 B',serif;
    font-size: 70px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.box2 p{
    font-family: '나눔스퀘어라운드',sans-serif;
    font-size: 18px;
}


#last{
    width: 1440px;
    height: 800px;
    position: relative;
    margin: 0 auto;
  background: #f3eeeefa;
  margin-top: 150px;
  
}
#last> div{
   padding-left: 50px;
   margin-top: 10px;
   
}

#last > .last1{
  position: relative;
   float: left;
    margin-top: 100px;
    width: 400px; height: 500px;
    
   

  
   
 
}
#last > .last2{
    position: relative;
    float: left;
    margin-left: 20px;
    width: 400px; height: 500px;
    overflow: hidden;
    padding-top: 230px;
  
}

#last > .last3{
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: 110px;
    font-family: '한컴 쿨재즈 B',serif;
    font-size: 50px;
    
  

}
#last > .last3 >h1{
    position: relative;
    margin-top: -200px;
    padding-bottom: 70px;
    
}





    #main_footer {
        width: 100%;
        height: 400px;
        overflow: hidden;
        margin-top: 10px;
       
    }
    #main_footer > .container {
        width: 1440px;
        height: 150px;
        margin: 0 auto;
        /* border: 1px solid blue; */
    }
    #main_footer > .container > .logo {
        float: left;
        margin-top: 100px;
        padding-left: 450px;
      
      
      
    }
    #main_footer > .container > .logo a {
        color: #444;
        text-transform: uppercase;
        font-size: 35px;
        color: #1f65d5;
        
    }
    #main_footer > .container > .number {
       margin-top: 100px;
        font-size: 30px;
        font-weight: bold;
        color: #444;
        float: left;
    }
    #main_footer > .container > div {
        float: left;
    }
    #main_footer > .container > .top_arrow {
        float: right;
     
        margin-top: 95px;
    }
    #main_footer > .company {
        width: 100%;
        height: 370px;
        border-top: 1px solid #333;
    }
    #main_footer > .company > p {
        text-align: center;
        color: #666;
        font-size: 14px;
        line-height: 25px;
    }
    #main_footer > .company > .info {
        margin-top: 60px;
    }
    #main_footer > .company > .copy {
        margin-top: 30px;
    }
    #main_footer > .company > .copy a {
        color: #666;
        font-size: 12px;
    }

    

